footer {
  width: 100%;
  background-color: var(--footer-bg);
  color: var(--footer-text);
  padding: 2rem 2rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;

  @media (min-width: 769px) {
    padding: 4rem 2rem 1rem;
  }
}

.footer-container {
  max-width: 1200px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-sections {
  font-size: 1.4rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;

  @media (max-width: 768px) {
    font-size: 1.2rem;
    flex-direction: column;
    gap: 12px;
  }
}

.footer-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 48px;

  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 4px;
  }

  &:last-child {
    text-align: right;
    align-items: flex-end;

    @media (max-width: 768px) {
      text-align: left;
      align-items: flex-start;
    }
  }
}

.footer-section-title {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--footer-text);
}

.footer-section-links {
  display: flex;
  flex-direction: row;
  gap: 14px;

  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 0px;
  }
}

.footer-section-link {
  color: var(--footer-link);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  text-transform: uppercase;
  overflow-wrap: break-word;
  max-width: 100%;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--footer-link);
    transition:
      width 0.3s ease,
      background-color 0.3s ease;
  }

  &:hover,
  &:focus {
    color: var(--footer-link-hover);

    &::after {
      background-color: var(--footer-link-hover);
      width: 100%;
    }
  }
}

.footer-section-text {
  color: #555555;
}

.rule {
  height: 2px;
  width: 100%;
  background-color: var(--footer-rule);
}

.footer-copyright {
  text-align: center;
  font-size: 1rem;
  color: var(--footer-text);

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}
