.hero-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--hero-bg);
  z-index: 1;

  ::selection {
    background: rgba(255, 255, 255, 0.2);
  }
}

.hero-main-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 2rem;
}

.hero-name-spacer {
  width: 100%;
  // Height will be set by JS
}

.hero-name-animated {
  position: absolute;
  z-index: 9999;
  text-align: right;
  color: var(--hero-name);
  font-size: 4rem;
  line-height: 1;
  padding: 0.5rem 0;
  font-family:
    "Bison",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  cursor: pointer;
  will-change: transform, top, left;

  span {
    display: inline-block;
    opacity: 0;
    filter: blur(20px);
    animation: 2s cubic-bezier(0.83, 0, 0.17, 1) forwards nameReveal;

    &:first-child {
      animation-delay: 0s;
    }

    &:last-child {
      animation-delay: 0.1s;
    }
  }

  @keyframes nameReveal {
    0% {
      filter: blur(20px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
}

@media (min-width: 420px) {
  .hero-name-animated {
    font-size: 6rem;
  }
}

@media (min-width: 768px) {
  .hero-name-animated {
    font-size: 10rem;
  }
}

.hero-title {
  text-align: center;
  color: var(--hero-title);
  font-size: 1.75rem;
  padding: 0.5rem 0;
  font-family:
    "Brandon Grotesque",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;

  opacity: 0;
  filter: blur(20px);
  animation: 2s cubic-bezier(0.83, 0, 0.17, 1) forwards nameReveal;
  animation-delay: 0.2s;

  @keyframes nameReveal {
    from {
      filter: blur(20px);
      opacity: 0;
    }
    to {
      filter: blur(0px);
      opacity: 1;
    }
  }
}

@media (min-width: 640px) {
  .hero-title {
    font-size: 2.5rem;
  }
}
